
<main class="main row">
    <aside class="col-md-2">
        <div>
            <a class="btn btn-outline-info" routerLink="/">Home Page</a>
        </div>
        <div>
            <a class="btn btn-outline-info" routerLink="/DepartmentList">Departments</a>
        </div>

        <div>
            <a class="btn btn-outline-info" routerLink="/PatientList">Patients</a>
        </div>

         <div>
            <a class="btn btn-outline-info" routerLink="/WardList" >Wards</a>
        </div>

        <div>
            <a class="btn btn-outline-info" routerLink="/AppointmentList">Appointments</a>
        </div>

        <div>
            <a class="btn btn-outline-info" routerLink="/EmergencyList">Emergencies</a>
        </div>

        <div>
            <a class="btn btn-outline-info" routerLink="/AdmissionList">Admissions</a>
        </div>

        <div>
            <a class="btn btn-outline-info" routerLink="/DischargeList">Discharges</a>
        </div>

        <div>
            <a class="btn btn-outline-info" routerLink="/TransactionList">Transactions</a>
        </div>

        <div>
            <a class="btn btn-outline-info" routerLink="/SupplierList">Suppliers</a>
        </div>

        <div>
            <a class="btn btn-outline-info" routerLink="/StaffList">Staffs</a>
        </div>

        <div>
            <a class="btn btn-outline-info" routerLink="/BillingList">Billing</a>
        </div>

        

       

    </aside>
    <article class="col-md-10">
      <!--   <nav>

        </nav>
        <hr /> -->

        
        <router-outlet></router-outlet>
    </article>
</main>




