
<a routerLink="/TransactionCreate/create" class="btn btn-success">Add New Transaction</a>
<hr />
<div>
    <h2>Transaction List</h2>
    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Transaction Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Paid Amount</th>
                <th>Balance Due</th>
                <th>Reference Type ID</th>
                <th>Reference Type Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tran of transactions">
                <td>{{ tran.transactionId }}</td>
                <td>{{ tran.transactionDate }}</td>
                <td>{{ tran.description}}</td>
                <td>{{ tran.amount}}</td>
                <td>{{ tran.paidAmount}}</td>
                <td>{{ tran.balanceDue}}</td>
                <td>{{ tran.refTypeID}}</td>
                <td>{{ tran.refTypeName}}</td>
                <td class="btn-group">
                    <a [routerLink]="['/TransactionEdit/edit/', tran.transactionId]" class="btn btn-warning">Edit</a>
                    <button class="btn btn-danger" (click)="DeleteTransaction(tran)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

